body {
	margin: 0;
	background-color: #EEEEEE;
}

* {
	box-sizing: border-box;
}

table {
	width: 100%;
	margin: 0;
	padding: 0;
}

.header {	
	padding: 12px;
	color: #DDDDDD;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #333333;
	font-family: cursive;
}

.header .author {
	text-align: left;
}

.header .variant {
	text-align: center;
}

.sidebar {
	width: 15%;
	vertical-align: top;
}

.sidebar ul {
	list-style-type: none;
	margin: 2px;
	padding: 0;
}

.button {
	text-decoration: none;
	background-color: #CCCCCC;
	display: inline-block;
	padding: 10px 25px;
	color: #222222;
	text-align: center;
	margin: 3px 0;
	border-radius: 5px;
	font-size: 16px;
}

.sidebar .button {
	width: 100%;
	font-size: 1.05em;
	font-weight: bold;
}

.button:hover{
	background-color: #333333;
	color: #EEEEEE;
}

.content {
	padding: 5px 20px;
}

.advertise {
	width: 100%;
	padding: 10px;
}

.advertise img {
	width: 100%;
	margin-top: 10px;
}

/*task page*/

.task-area-image {
	float: right;
	border-radius: 25px;
	padding: 15px;
}

.list-caption {
	font-weight: bold;
}

.content li {
	margin-bottom: 5px;
}

/*solution page*/

.area-image {
	float: right;
	padding: 30px 100px;
	border-radius: 15px;
}

#hiddenForm{
	display: none;
}

#point-form {
	font-size: 1.2em;
	text-align: center;
	background-color: #E6E6E6;
	padding: 8px;
	border-radius: 10px;
	padding-bottom: 20px;
}

input[type="checkbox"],
input[type="radio"]{
	margin-left: 2%;
}

.point-form p {
	text-align: center;
}

input[type="text"][name="yValue"] {
	width: 60px;
	text-align: center;
	font-size: 18px;
	margin-top: 6px;
}

select[name="rValue"]{
	padding: 4px;
}

input[type="submit"] {
	border: none;
}

.results-table td {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.results-table th {
	border: 1px solid black;
	background-color: #D6D6D6;
}

.results-table {
	width: 65%;
	margin: 30px;
	margin-left: 15px;
	margin-top: 30px;
	border-collapse: collapse;
	border: 1px solid black;
}

.results-table tr:nth-of-type(odd) {
	background-color: #EEEEEE;
}

.results-table tr:nth-of-type(even) {
	background-color: #D5D5DD;
}

.results-table th,
.results-table td {
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

.warning {
	background-color: #FF2222;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	font-size: 22px;
	border-radius: 10px;
}

caption {
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
}
